// Put your custom SCSS code here

.alert-note {
  font-size: 1.1rem;
}

div.expressive-code pre {
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

.content a, article a, .markdown-body a {
  word-break: break-all;
  overflow-wrap: break-word;
}
